---
import MainLayout from "../layouts/MainLayout.astro";
import 'animate.css';
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import thumbsup from "../assets/images/thumbsup.png";
import Instagram from "../components/Instagram.astro";
import Trestep from "../components/Trestep.astro";
import Tillykke from "../components/Tillykke.astro";
import Review from "../components/Review.astro";
import bryllup from "../assets/images/bryllup_card.jpg";
import konfirmation from "../assets/images/konfirmation_card.jpg";
import barnedaab from "../assets/images/barnedaab_card.jpg";
import fodselsdag from "../assets/images/fodselsdag_card.jpg";
import Karrusel from "../components/Karrusel.astro";
import Typewrite from "../components/Typewrite.astro";
import invi1 from "../assets/images/invi_1.jpg";
import invi2 from "../assets/images/invi_2.jpg";
import invi3 from "../assets/images/invi_3.jpg";
import invi4 from "../assets/images/invi_4.jpg";
import invi5 from "../assets/images/invi_5.jpg";
import format from "../assets/images/format.jpg";
import altilbordet from "../assets/images/altilbordet.jpg";
import boheme from "../assets/images/bohemepic.jpg";
import vandmaling from "../assets/images/vandmaling.jpg";
import FakeNav from "../components/FakeNav.astro";
---

<MainLayout title="Forside til Ink Saloon Studios" description="Velkommen til Ink Saloon Studios, hvor vi skaber unikke invitationer og tryksager til alle livets store øjeblikke. Udforsk vores udvalg af personlige designs til bryllup, konfirmation, barnedåb og meget mere.">
  <div class="stickynav"> <FakeNav /></div>

<section class="sm:my-xl my-m">
  <Typewrite />
  <div class="flex flex-row justify-center items-center mx-sm md:mx-ml mt-ml md:mt-2xl ">
    <div class="w-7xl shadow-card transition-transform  duration-300 ease-in hover:-rotate-6  hover:scale-110 hover:z-50">   
     <a href="/produktliste"> <Image src={invi1} class="drop-shadow-xl" alt="Invitation 1"/></a>
    </div>
    <div class="w-7xl  shadow-card origin-center -rotate-12 transition-transform  duration-300 ease-in hover:-rotate-6  hover:scale-110 hover:z-50">
      <a href="/produktliste"><Image src={invi2} class="drop-shadow-xl" alt="Invitation 2"/></a>
    </div>
    <div class="w-7xl shadow-card  z-10  transition-transform scale-105 duration-300 ease-in hover:-rotate-3 hover:scale-125 "> 
      <a href="/produktliste"><Image src={invi3} class="drop-shadow-xl" alt="Invitation 3"/></a>
    </div>
    <div class="w-7xl shadow-card  origin-center rotate-12 transition-transform  duration-300 ease-in hover:-rotate-6 hover:scale-110 hover:z-50"> 
      <a href="/produktliste"><Image src={invi4} class="drop-shadow-xl" alt="Invitation 4"/></a>
    </div>
    <div class="w-7xl shadow-card transition-transform  duration-300 ease-in hover:rotate-6 hover:scale-110 hover:z-60"> 
      <a href="/produktliste"><Image src={invi5} class="drop-shadow-xl" alt="Invitation 5"/></a>
    </div>
  </div>
</section>

 
 <!-- De 4 cards -->
<div class="grid grid-cols-1  sm:px-2xl px-s gap-s lg:grid-cols-4 my-3xl ">
  <!-- Bryllup -->
  <div class="relative group sm:h-[400px] h-[100px] overflow-hidden rounded-2xl">
<a href="/produktliste">
    <Image 
      src={bryllup} 
      class="absolute inset-0 w-full h-full object-cover brightness-75 transition duration-500 transform group-hover:scale-125 group-hover:brightness-150" 
      alt="Bryllup" 
    />
    <div class="relative z-10 flex items-center justify-center h-full">
      <h6 class="text-hvidgul-50 text-4xl"><i>Bryllup</i></h6>
    </div>
</a>
  </div>


  <!-- Konfirmation -->
   <div class="relative group sm:h-[400px] h-[100px] overflow-hidden rounded-2xl">
<a href="/produktliste">
    <Image 
      src={konfirmation} 
      class="absolute inset-0 w-full h-full object-cover brightness-75 transition duration-500 transform group-hover:scale-125 group-hover:brightness-150" 
      alt="Bryllup" 
    />
    <div class="relative z-10 flex items-center justify-center h-full">
      <h6 class="text-hvidgul-50 text-4xl"><i>Konfirmation</i></h6>
    </div>
</a>
</div>

  <!-- Barnedåb -->
   <div class="relative group sm:h-[400px] h-[100px] overflow-hidden rounded-2xl">
<a href="/produktliste">
    <Image 
      src={barnedaab} 
      class="absolute inset-0 w-full h-full object-cover brightness-75 transition duration-500 transform group-hover:scale-125 group-hover:brightness-150" 
      alt="Bryllup" 
    />
    <div class="relative z-10 flex items-center justify-center h-full">
      <h6 class="text-hvidgul-50 text-4xl"><i>Barnedåb</i></h6>
    </div>
</a>
</div>

  <!-- Fødselsdag -->
  <div class="relative group sm:h-[400px] h-[100px] overflow-hidden rounded-2xl">
<a href="/produktliste">
    <Image 
      src={fodselsdag} 
      class="absolute inset-0 w-full h-full object-cover brightness-75 transition duration-500 transform group-hover:scale-125 group-hover:brightness-150" 
      alt="Bryllup" 
    />
    <div class="relative z-10 flex items-center justify-center h-full">
      <h6 class="text-hvidgul-50 text-4xl"><i>Fødselsdag</i></h6>
    </div>
  </div>
</a>
</div>

  <Trestep />

  <!-------------- FLOTTE KARRUSEL -------------->
<div class="carousel w-full overflow-x-auto snap-x snap-mandatory flex scroll-smooth">
  <!-- Slide 1 -->
  <div id="slide1" class="carousel-item relative w-full flex-shrink-0 snap-center">
<div class="my-xl">
  <div class="relative w-full sm:h-[650px] h-[400px] flex items-center overflow-hidden">
    <Image
      src={format}
      alt="baggrund"
      class="absolute inset-0 w-full h-full object-cover brightness-[30%]"/>
    <div class="absolute inset-0 bg-black bg-opacity-40 z-10"></div>
    <div class="relative z-20 flex flex-col md:flex-row items-center justify-between w-full">
      <div class="flex-1 px-0 md:pl-xl px-ml">
        <h4 class=" text-hvidgul-50">
          Format<i>sammensætning</i>
        </h4>
        <p class="text-hvidgul-50 mt-4  max-w-full md:max-w-[600px]">
          Gør dine invitationer unikke med kreative formatsammensætninger. Udover det klassiske kort kan du vælge mellem rulleinvitationer, fold-ud designs, lommekort eller udstansede former. 
          <br><br> 
          Kombiner det med specielle kuverter, laksegl eller bånd for et ekstra personligt præg. Formen på invitationen er med til at skabe forventning – allerede inden den åbnes.
        </p>
     <div class="hidden md:block mt-xl">
          <Button  variant="tertiary" size="large" href="/produktliste" >
            Læs mere
        </Button>
     </div>
     <div class="block md:hidden mt-lg">
          <Button  variant="tertiary" size="small" href="/produktliste" >
            Læs mere
      </Button>
     </div>
      </div>
      <div class="hidden md:block w-[450px] h-[450px] flex-shrink-0 overflow-hidden rounded-md mr-xl">
        <Image
          src={format}
          alt="Invitation 2"
          class="w-full h-full object-cover"
        />
      </div>
    </div>
  </div>
</div>    <div class="absolute left-s right-s top-1/2 flex -translate-y-1/2 transform justify-between z-50">
      <a href="#slide4" class="btn btn-circle text-hvidgul-50">❮</a>
      <a href="#slide2" class="btn btn-circle text-hvidgul-50">❯</a>
    </div>
  </div>

  <!-- Slide 2 -->
  <div id="slide2" class="carousel-item relative w-full flex-shrink-0 snap-center">
<div class="my-xl px-4 md:px-0">
  <div class="relative w-full sm:h-[650px] h-[400px] flex items-center overflow-hidden">
    <Image
      src={altilbordet}
      alt="baggrund"
      class="absolute inset-0 w-full h-full object-cover brightness-[30%]"/>
    <div class="absolute inset-0 bg-opacity-40 z-10"></div>
    <div class="relative z-20 flex flex-col md:flex-row items-center justify-between w-full">
      <div class="flex-1 px-0 md:pl-xl px-ml ">
        <h4 class=" text-hvidgul-50">
          Alt <i>til bordet</i>
        </h4>
        <p class="text-hvidgul-50 mt-4  max-w-full md:max-w-[600px]">
          Skab en smuk og sammenhængende borddækning med alt det, der fuldender festen. Vi designer bordkort, menukort, velkomstskilte, bordoversigter, bordnumre, gæstebøger og klistermærker, der matcher jeres stil og tema. <br><br> Detaljerne gør forskellen – og binder hele udtrykket elegant sammen.
        </p>
     <div class="hidden md:block mt-xl">
          <Button  variant="tertiary" size="large" href="/produktliste" >
            Læs mere
        </Button>
     </div>
     <div class="block md:hidden mt-lg">
          <Button  variant="tertiary" size="small" href="/produktliste" >
            Læs mere
      </Button>
     </div>
      </div>
      <div class="hidden md:block w-[450px] h-[450px] flex-shrink-0 overflow-hidden rounded-md mr-xl">
        <Image
          src={altilbordet}
          alt="Invitation 2"
          class="w-full h-full object-cover"
        />
      </div>
    </div>
  </div>
</div>    <div class="absolute left-s right-s top-1/2 flex -translate-y-1/2 transform justify-between z-50">
      <a href="#slide1" class="btn btn-circle text-hvidgul-50">❮</a>
      <a href="#slide3" class="btn btn-circle text-hvidgul-50">❯</a>
    </div>
  </div>

  <!-- Slide 3 -->
  <div id="slide3" class="carousel-item relative w-full flex-shrink-0 snap-center">
<div class="my-xl px-4 md:px-0">
  <div class="relative w-full sm:h-[650px] h-[400px] flex items-center overflow-hidden">
    <Image
      src={boheme}
      alt="baggrund"
      class="absolute inset-0 w-full h-full object-cover brightness-[30%]"/>
    <div class="absolute inset-0 bg-opacity-40 z-10"></div>
    <div class="relative z-20 flex flex-col md:flex-row items-center justify-between w-full">
      <div class="flex-1 px-0 md:pl-xl px-ml ">
        <h4 class=" text-hvidgul-50">
          <i>Boheme</i>
        </h4>
        <p class="text-hvidgul-50 mt-4  max-w-full md:max-w-[600px]">
          Er du til det naturlige og frie boheme-look med varme farver, blomster og organiske former? Eller drømmer du om noget minimalistisk, romantisk, klassisk eller moderne? <br><br> Vi designer i mange stilarter og hjælper dig med at finde det udtryk, der passer perfekt til netop jeres dag.
        </p>
     <div class="hidden md:block mt-xl">
          <Button  variant="tertiary" size="large" href="/produktliste" >
            Læs mere
        </Button>
     </div>
     <div class="block md:hidden mt-lg">
          <Button  variant="tertiary" size="small" href="/produktliste" >
            Læs mere
      </Button>
     </div>
      </div>
      <div class="hidden md:block w-[450px] h-[450px] flex-shrink-0 overflow-hidden rounded-md mr-xl">
        <Image
          src={boheme}
          alt="Invitation 2"
          class="w-full h-full object-cover"
        />
      </div>
    </div>
  </div>
</div>    <div class="absolute left-s right-s top-1/2 flex -translate-y-1/2 transform justify-between z-50">
      <a href="#slide2" class="btn btn-circle text-hvidgul-50">❮</a>
      <a href="#slide4" class="btn btn-circle text-hvidgul-50">❯</a>
    </div>
  </div>

  <!-- Slide 4 -->
  <div id="slide4" class="carousel-item relative w-full flex-shrink-0 snap-center">
<div class="my-xl px-4 md:px-0">
  <div class="relative w-full sm:h-[650px] h-[400px] flex items-center overflow-hidden">
    <Image
      src={vandmaling}
      alt="baggrund"
      class="absolute inset-0 w-full h-full object-cover brightness-[30%]"/>
    <div class="absolute inset-0 bg-opacity-40 z-10"></div>
    <div class="relative z-20 flex flex-col md:flex-row items-center justify-between w-full">
      <div class="flex-1 px-0 md:pl-xl px-ml ">
        <h4 class=" text-hvidgul-50">
          Akvarel<i>maling</i>
        </h4>
        <p class="text-hvidgul-50 mt-4  max-w-full md:max-w-[600px]">
          Få dit eget venue illustreret i en smuk akvarelstil – perfekt til invitationer, skilte eller som en særlig detalje på dagen. <br><br>Vi tilbyder også andre stilarter, der matcher jeres visuelle udtryk. Et unikt design af stedet, hvor festen holdes, gør jeres tryksager både personlige og mindeværdige.
        </p>
     <div class="hidden md:block mt-xl">
          <Button  variant="tertiary" size="large" href="/produktliste" >
            Læs mere
        </Button>
     </div>
     <div class="block md:hidden mt-lg">
          <Button  variant="tertiary" size="small" href="/produktliste" >
            Læs mere
      </Button>
     </div>
      </div>
      <div class="hidden md:block w-[450px] h-[450px] flex-shrink-0 overflow-hidden rounded-md mr-xl">
        <Image
          src={vandmaling}
          alt="Invitation 2"
          class="w-full h-full object-cover"
        />
      </div>
    </div>
  </div>
</div>    

    <div class="absolute left-s right-s top-1/2 flex -translate-y-1/2 transform justify-between z-50">
      <a href="#slide3" class="btn btn-circle text-hvidgul-50">❮</a>
      <a href="#slide1" class="btn btn-circle text-hvidgul-50">❯</a>
    </div>
  </div>
</div>

  <Instagram />

<div class="bg-[url('/bg_review.webp')] bg-cover py-m my-xl">
  <div class="flex flex-nowrap md:flex-wrap md:justify-center gap-m overflow-x-auto snap-x snap-mandatory scroll-smooth px-4">
    <div class="snap-start shrink-0 w-80 md:w-auto pl-s">
      <Review text="“Har netop modtaget vores konfirmationsinvitationer. Smukkeste indpakning og flotteste invitationer i den lækreste kvalitet. Kan ikke vente med at sende dem ud.”" name="Gavin J." />
    </div>
    <div class="snap-start shrink-0 w-80 md:w-auto">
      <Review text="“Meget positivt overrasket over kvalitet og brugeroplevelse, da vi modtog vores varer. Lækker indpakning.”" name="Poul B." />
    </div>
    <div class="snap-start shrink-0 w-80 md:w-auto">
      <Review text="“Ville god service! Vi fik lavet vores invitationer af Emilie og hendes kollega gennem mail, og invitationerne blev præcis som vi ønskede. Der var hurtig levering både da vi modtog nogle forkerte invitationer og da de sendte de rigtige!”" name="Tine H." />
    </div>
    <div class="snap-start shrink-0 w-80 md:w-auto pr-s">
      <Review text="“Ualmindelig god, fleksibel og hurtig service. Vi har modtaget de smukkeste invitationer og den løbende dialog med rettelser og godkendelser af layoutet har været meget imødekommende og hurtig.”" name="Bjarne L." />
    </div>
  </div>
</div>


  <Tillykke />


  
</MainLayout>


<!-- <style>
.pulse {
  animation-name: pulse_kf;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes pulse_kf {
  0% {
    scale: 100%;
  }
  50% {
    scale: 90%;
  }
  100% {
    scale: 100%;
  }
}


</style> -->

<style>

  .stickynav {
    position: sticky;
    top: 0;
    z-index: 100;
  }
</style>