---
import { Image } from "astro:assets";
import long1 from "../assets/images/long1.jpg";
import long2 from "../assets/images/long2.jpg";
import square1 from "../assets/images/square1.jpg";
import square2 from "../assets/images/square2.jpg";
import square3 from "../assets/images/square3.jpg";
import weight1 from "../assets/images/weight1.jpg";
import weight2 from "../assets/images/weight2.jpg";
---





<section>
    <div class="grid sm:grid-cols-6 sm:grid-rows-3 gap-xxs sm:px-2xl sm:my-xl
    grid-cols-2 px-s">
        
        <div class="sm:col-span-2 sm:row-span-1 sm:col-start-1 w-full h-full overflow-hidden">
            <Image src={weight2} alt="billed" class="w-full h-full object-cover transition-all ease-in hover:scale-110 rounded-sm" />
        </div>

        <div class="sm:col-span-3 sm:row-span-2 sm:row-start-2 w-full h-full overflow-hidden">
            <Image src={weight1} alt="billed" class="w-full h-full object-cover transition-all ease-in hover:scale-110 rounded-sm" />
        </div>
        
        <div class="sm:col-span-1 sm:row-span-2 w-full h-full overflow-hidden">
            <Image src={long1} alt="billed" class="w-full h-full object-cover transition-all ease-in hover:scale-110 rounded-sm" />
        </div>

        <div class="sm:col-span-1 sm:row-span-2 w-full h-full overflow-hidden">
            <Image src={long2} alt="billed" class="w-full h-full object-cover transition-all ease-in hover:scale-110 rounded-sm" />
        </div>

        <div class="sm:col-span-1 sm:row-span-1 w-full h-full overflow-hidden">
            <Image src={square3} alt="billed" class="w-full h-full object-cover transition-all ease-in hover:scale-110 rounded-sm" />
        </div>
        
        <div class="sm:col-span-2 sm:row-span-1 bg-orange-400 hover:bg-orange-500 transition-all ease-in flex items-center justify-center text-center rounded-sm p-6">
        <a href="/faq" >
              <div>
                <h4 class=" text-hvidgul-50 italic">Har du spørgsmål?</h4>
                <p class="text-sm px-xxs text-hvidgul-50">Er du altid velkommen til at sende os en mail med dine spørgsmål.</p>
            </div>
        </a>
        </div>

        <div class="sm:col-span-1 sm:row-span-1 w-full h-full overflow-hidden">
            <Image src={square2} alt="billed" class="w-full h-full object-cover transition-all ease-in hover:scale-110 rounded-sm" />
        </div>

        <div class="sm:col-span-1 sm:row-span-1 sm:row-start-2 sm:col-start-6 w-full h-full overflow-hidden">
            <Image src={square1} alt="billed" class="w-full h-full object-cover transition-all ease-in hover:scale-110 rounded-sm" />
        </div>

        <div class="sm:col-span-1 sm:row-span-1 sm:row-start-1 sm:col-start-3 bg-brun-500 hover:bg-brun-600 transition-all ease-in  flex items-center justify-center text-center rounded-sm p-6" href="/produktliste">
  <a href="/produktliste">
        <div>
          <h4 class="text-2xl italic text-hvidgul-50 sm:text-3xl">Bryllup</h4>
          <p class="px-xxs text-hvidgul-50">Find alt hvad du skal bruge til den største fest i dit liv</p>
        </div>
  </a>
  </div>
    </div>
</section>



