---
const { product } = Astro.props;
---

<article class="w-[200px] md:w-[300px] mb-xs">
    <a href={`/produkt/${product.slug}`}>
        <div class="w-[200px] md:w-[300px] overflow-hidden">
            <img src={`/images/${product.image_filename}`} alt={product.name} class="object-cover transition-all ease-in hover:scale-110" />
        </div>   
    </a>
<h6 class="font-light">{product.name}</h6>
<p class="italic font-light">{product.kategori}</p>
  </article>
  