---
const { product } = Astro.props;
import Heart from "./Heart.astro";
---

<article class="w-[170px] md:w-[300px] mb-xs">
    <a href={`/produkt/${product.slug}`}>
        <div class="w-[170px] md:w-[300px] overflow-hidden">
            <img src={`/images/${product.image_filename}`} alt={product.name} class="object-cover transition-all ease-in hover:scale-110" />
        </div>   
    </a>
<div class="flex flex-row justify-between items-center mt-xxs">
    <p class="font-light text-brun-600">{product.name}</p>
    <Heart></Heart>
</div>
<p class="italic font-light text-brun-500">{product.kategori}</p>
  </article>
  